# This is a gitignore file. Any items in this file will be "ignored" by git.

# Individual Idea File

/.idea/workspace.xml

# Coverage Files, Bundled Files, Dependencies

client/coverage/
client/dist/
client/node_modules/

client/package-lock.json

# Generated Java Files

target/
server/dependency-reduced-pom.xml