.nav_item {
    color: var(--link-green-blue);
    font-weight: 600;
    font-family: sans-serif;
    letter-spacing: .11em;
    line-height: 1.1em;
    font-size: 13px;
    text-transform:uppercase;
    padding: 0;
    margin-right:1em;
    margin-left:1em;
}

.nav_item:hover {
    color: var(--link-hover-gray);
    border-bottom: 1px solid var(--link-hover-gray);
    text-decoration: none;
}

.nav_item:focus {
    text-decoration: none;
}

.nav_title {
    color: var(--link-green-blue);
    font-weight: 700;
    font-family: sans-serif;
    letter-spacing: .11em;
    line-height: 1.1em;
    font-size: 16px;
    text-transform:uppercase;
}

.nav_title:hover {
    color: var(--link-hover-gray);
}

.nav_bar {
    align-items:center;
    margin: 1em 0;
    padding: 0;

}

.dropdown_icon, .dropdown_icon:hover, .dropdown_icon:active {
    margin: auto;
    color: var(--link-hover-gray);
    background-color: white;
    border: none;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.dropdown_icon:focus{
    box-shadow: none;
}

.dropdown_item{
    font-weight: 600;
    letter-spacing: .11em;
    line-height: 1.5em;
    font-size: 13px;
    font-family: sans-serif;
    text-transform:uppercase;
    color: var(--link-hover-gray);
    padding-bottom: .2em;
}

.dropdown_item:hover{
    color: var(--link-hover-gray);
    text-decoration: underline;
}
