/* Text stylings according to the CSU branding guide */
/* (http://brand.colostate.edu/d/sLlipb6y2ZT4/colorado-state-university-style-guide#/style-guide/web-guidelines) */

/* csu-branding represents the global container for main content */
/* Other top-level items may be otherwise defined by bootstrap */
.csu-branding {
  font-family: 'prox-regular', sans-serif;
  color: #4e4e50;
}

.csu-text-small{
  font-size: 13px;
}

.csu-text-body{
  font-size: 1rem !important;
}

.csu-text-header{
  font-weight: 700;
  letter-spacing: .11em;
  line-height: 1.1em;
  font-size: 16px;
  text-transform: uppercase;
}

.csu-text-header-thin{
  font-weight: 400;
  letter-spacing: .11em;
  line-height: 1.1em;
  font-size: 20px;
  text-transform: uppercase;
}

/* markdown improvements */
a:link {
  font-weight: 600;
  color: #105456;
}

a:visited {
  font-weight: 600;
  color: #105456;
}

a:active {
  font-weight: 600;
  color: #105456;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
}

table, th, td {
  border: 1px solid #e0e0e0;
  padding: 4px;
}

th {
  background-color: #f7f7f7;
  color: black;
}

img {
  max-width: 100%;
}

blockquote {
  background: #f7f7f7;
  border-left: 10px solid #e0e0e0;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

pre {
  margin: 1.5em 10px;
  padding: 5px 10px;
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  white-space: pre-wrap;
  border-radius: 5px;
}

code {
  background: #f0f0f0;
  color: #000000;
  font-weight: 600;
  padding: 0px 2px;
}
