/* Width of marginal components */
.application-width{
    margin: auto;
    max-width: 1200px;
    padding: 0 15px 0 15px;
}

/* HEADER STYLES */
/* CSU Unit Identifier Font */
.add-header-height{
    background-color: #1E4D2B;
    height: 90px;
}

#responsiveHeaderContainer{
    display: flex;
    align-items: center;
    height: 100%;
}

.larger-CSUtext-upper{
    font-family: 'prox-light', sans-serif;
    letter-spacing: .11em;
    line-height: 1.1em;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
}

/* Department Identifier Logo */
#responsiveLogoSubsystem::before{
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 2px;
    bottom: 0;
    box-sizing: border-box;
    content: "";
    display: block;
    left: 0;
    margin-left: 15px;
    position: absolute;
    right: 0;
    top: 0;
}

#responsiveLogoSubsystem{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-family: sans-serif;
    height: 42.0469px;
    padding-left: 32px;
    position: relative;
    text-size-adjust: 100%; /* ms & moz */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#csHeaderLink{
    display: block;
    color: #FFFFFF;
    text-decoration: none; /* Don't Underline COMPUTER SCIENCE */
    z-index: 1;
}
#csHeaderLink h1{
    margin: .1em 0 0;
    padding: 0;
}

/* Responseive Header Images */
/* Only show one of the three logos depending on what the size of the screen is. */
@media only screen{
    #csuLargeLogo{
        display: inline-block;
    }
    #csuMedLogo,
    #csuSmallLogo{
        display: none;
    }
}
@media only screen and (max-width: 768px){
    #csuMedLogo{
        display: inline-block;
    }
    #csuLargeLogo,
    #csuSmallLogo{
        display: none;
    }
}
@media only screen and (max-width: 576px){
    #csuSmallLogo{
        display: inline-block;
    }
    #csuMedLogo,
    #csuLargeLogo{
        display: none;
    }
}

/* FOOTER STYLES*/

.add-footer{
    background-color: #1E4D2B;
    bottom: 0;
    color: #FFFFFF;
    margin-top: 25px;
}

.footer-container{
    display: flex;
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row-reverse wrap; /* Safari 6.1+ */
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: .90;
}

.footer-link-wrapper {

}

.footer-team-name-wrapper {

}

.footer-server-info-wrapper {

}
